/* Change the text color of the month header */
.rbc-off-range-bg {
  background: #535253;
}

.rbc-today {
  background-color: rgb(148, 145, 145);
}

.rbc-event {
  background-color: #ff914d;
}

.rbc-show-more {
  color: #ff914d;
}

.rbc-show-more:hover,
.rbc-show-more:focus {
  color: #ba5618;
}

.rbc-toolbar button {
  color: white;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  color: black;
}

.rbc-toolbar-label {
  font-weight: bold;
}

@media (min-width: 770px) {
  .stickyCalendar {
    position: sticky;
    top: 0;
  }
}

@media (max-width: 770px) {
  .rbc-toolbar {
    justify-content: center;
    flex-direction: column;
    padding: 0%;
  }
}

@media (max-width: 1398px) {
  .rbc-btn-group {
    order: 1;
    margin-inline: 0.25rem;
  }
  .rbc-toolbar-label {
    order: 0;
    flex: 1 1 500px;
    margin-bottom: 0.25rem;
    font-size: 20px;
  }
  .rbc-toolbar {
    justify-content: center;
    flex-direction: row;
    padding: 0%;
  }
  .stickyCalendar {
    margin-top: -0.5rem;
  }
}
@media (max-width: 1199px) {
  .rbc-btn-group {
    order: 1;
  }
  .rbc-toolbar-label {
    order: 0;
    flex: 1 1 800px;
    margin-bottom: 0.25rem;
    font-size: 20px;
  }
  .stickyCalendar {
    margin-top: -0.5rem;
  }
}
