/* Change the text color of the month header */
.rbc-off-range-bg {
  background: #535253;
}

.rbc-today {
  background-color: rgb(148, 145, 145);
}

.rbc-event {
  background-color: #ff914d;
}

.rbc-show-more {
  color: #ff914d;
}

.rbc-show-more:hover,
.rbc-show-more:focus {
  color: #ba5618;
}

.rbc-toolbar button {
  color: white;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  color: black;
}
