.custom-infowindow-content {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-button-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 1;
}
@media (min-width: 400px) {
  .google-map-container {
    height: 400px;
    width: 100%;
  }
}

@media (min-width: 770px) {
  .google-map-container {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
  }
}

@media (min-width: 990px) {
  .google-map-container {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
  }
}

@media (min-width: 770px) {
  .stickyMaps {
    height: 100vh;
    position: sticky;
    top: 0;
  }
}

.pagination-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 400px) {
  .filter {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .filter {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 400px) {
  .input-container {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
}

@media (min-width: 768px) {
  .input-container {
    display: flex;
    flex-direction: row;
    width: 400px;
  }
}
