.custom-infowindow-content {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-button-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 1; 
  }